  .content {
    position: relative;
    z-index: 1;
  }
  
  
  body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
  }
  

  header {
    background-color: rgba(34, 34, 34, 0.9);
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .about-section {
    background: rgba(255, 255, 255, 0.9);
    padding: 50px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  footer {
    background-color: rgba(34, 34, 34, 0.9);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff; /* Adjust as needed */
    background-color: rgba(34, 34, 34, 0.9);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    text-align: center;
    z-index: 100;
  }
  